USE [master]
GO
/****** Object:  Database [Kontactkeeper]    Script Date: 01 Nov 2020 20:10:23 ******/
CREATE DATABASE [Kontactkeeper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kontactkeeper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Kontactkeeper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kontactkeeper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Kontactkeeper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kontactkeeper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kontactkeeper]
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 01 Nov 2020 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[UName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCallAgent]    Script Date: 01 Nov 2020 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCallAgent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[UName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[TotalHours] [int] NOT NULL,
	[AgentEXT] [nvarchar](50) NOT NULL,
	[AVGCallLength] [nvarchar](50) NOT NULL,
	[TotalCalls] [int] NOT NULL,
	[Performance] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFBUser]    Script Date: 01 Nov 2020 20:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFBUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FBID] [nvarchar](50) NOT NULL,
	[FBName] [nvarchar](50) NOT NULL,
	[LastSeen] [datetime] NOT NULL,
 CONSTRAINT [PK_tblFBUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAdmin] ON 

INSERT [dbo].[tblAdmin] ([ID], [FName], [LName], [UName], [Password]) VALUES (1, N'James', N'Ventura', N'james', N'009')
INSERT [dbo].[tblAdmin] ([ID], [FName], [LName], [UName], [Password]) VALUES (2, N'Devilliers', N'Dup', N'divdup', N'123')
INSERT [dbo].[tblAdmin] ([ID], [FName], [LName], [UName], [Password]) VALUES (4, N'Tennille', N'Hardy', N'tennille', N'123')
SET IDENTITY_INSERT [dbo].[tblAdmin] OFF
SET IDENTITY_INSERT [dbo].[tblCallAgent] ON 

INSERT [dbo].[tblCallAgent] ([ID], [FName], [LName], [UName], [Password], [TotalHours], [AgentEXT], [AVGCallLength], [TotalCalls], [Performance]) VALUES (1, N'James', N'Ventura', N'james', N'009', 10, N'EXT', N'00:10:00.0000000', 3, 8)
SET IDENTITY_INSERT [dbo].[tblCallAgent] OFF
USE [master]
GO
