body
{
    font-family: sans-serif;
    margin: 0px;
}

/* Body */

.container
{
    display: grid;
    grid-template-columns: 1fr;
}

.container h1
{
    color: lightskyblue;
}

.container h2
{
    color: lightblue;
    justify-content: space-between;
}

label
{
    float: left;
    width: 10%;
    text-align: right;
    padding-right: 1em;
}

input
{
    display: block;
    width: 30%;
}

button
{
    display: block;
    margin: 33%;
    margin-top: 1em;
}

/* index page */ 
.contain h1
{
    color: lightskyblue;
    /* margin: 50% ; */
}

