
*.lock
KontactKeepers/.vs/KontactKeeper/DesignTimeBuild/.dtbcache
KontactKeepers/.vs/KontactKeeper/v16/.suo
KontactKeepers/.vs/KontactKeeper/v16/Server/sqlite3/storage.ide-shm
KontactKeepers/.vs/KontactKeeper/v16/Server/sqlite3/storage.ide-wal
KontactKeepers/FaceBookAPI/obj/project.assets.json
KontactKeepers/FaceBookAPI/obj/FaceBookAPI.csproj.nuget.g.props
KontactKeepers/FaceBookAPI/obj/FaceBookAPI.csproj.nuget.dgspec.json
KontactKeepers/FaceBookAPI/obj/FaceBookAPI.csproj.nuget.cache
KontactKeepers/FaceBookAPI/obj/Debug/netcoreapp3.1/FaceBookAPI.csprojAssemblyReference.cache
KontactKeepers/FaceBookAPI/obj/Debug/netcoreapp3.1/FaceBookAPI.assets.cache
KontactKeepers/.vs/KontactKeeper/v16/Server/sqlite3/storage.ide-wal
KontactKeepers/.vs/KontactKeeper/v16/Server/sqlite3/storage.ide-shm
KontactKeepers/.vs/KontactKeeper/v16/Server/sqlite3/storage.ide
KontactKeepers/.vs/KontactKeeper/v16/.suo
KontactKeeper/Interface/App.config
